$blue: #0cbded;

body.b2blogged{
  .highlight-view{
    display: none;
  }
}

.b2b-view{
  &.login-page{
    .info-block{
      padding-top: 40px;
      .img{
        width: 80%;
        margin: 0 auto;
      }

      .head{
        h3{
          font-size: 1.4em;
          font-weight: bold;
          color: #000000;
        }
      }

      .desc{
        strong{ color: #444444; }
        color: #767676;
      }
    }

    .login-module{
      margin-top: 40px;
      h1{
        text-align: center;
        margin: 20px 0 ;
        font-weight: bold;
        text-transform: uppercase;
      }
      .formbox{
        background: #fff;
        padding: 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 10px 25px -17px #000000;
        -moz-box-shadow: 0 10px 25px -17px #000000;
        box-shadow: 0 10px 25px -17px #000000;
        margin-bottom: 15px;

        .loginname, .loginpw{
          input {
            line-height: 40px;
            height: auto;
            font-size: 1.2em;
          }
        }
      }

      .login-footer{
        .auth-info{
          margin-top: 25px;
          font-size: 0.8em;
          color: #aaaaaa;

          .ico{
            float: left;
            margin: 0 10px 0 0;
            i{
              color: #faab17;
              font-size: 70px;
              width: 70px;
              text-align: center;
            }
          }

          .text {
            strong{
              color: #888888;
              line-height: 1.7;
              font-size: 1.2em;
            }
          }
        }
      }
    }
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e0e0e0+43,ffffff+81 */
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f9f9f9 0%, #e0e0e0 43%, #ffffff 81%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f9f9f9 0%,#e0e0e0 43%,#ffffff 81%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f9f9f9 0%,#e0e0e0 43%,#ffffff 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  }

  &.dashboard-page {

    .b2busertop {
      border-bottom: 2px solid #cc2727;
      padding: 25px;
      background: #02536b;

      h1{
        margin: 0;
        font-size: 26px;
        font-weight: bold;
        color: white;

        strong{
          font-size: 14px;
          position: relative;
          margin-left: 25px;
          color: #0ac8ff;

          &:before {
            content:"";
            position: absolute;
            border-left: 1px solid #76e0ff;
            height: 40px;
            left: -16px;
            top: -15px;
            -webkit-transform: rotate(30deg);
            -moz-transform: rotate(30deg);
            transform: rotate(30deg);
          }
        }
      }
    }

    .fullwidth-container {
      .sidebarmenu{
        float: left;
        width: 15%;

        ul{
          li{
            a{
              padding: 10px;
              margin: 10px 0;
              display: block;
              background: #f1f1f1;
              text-transform: uppercase;
              color: black;

              i{
                width: 25px;
                text-align: center;
              }
              &:hover{
                background: #eaeaea;
              }
            }
            &.on {
              a {
                background: $blue;
                color: white;
              }
            }
          }
        }
      }
      .b2b-content-holder{
        float: left;
        width: 85%;
        .b2b-content-wrapper{
          padding: 20px;

          h1{
            color: #8c8c8c;
            margin: 0 0 30px 0;
          }
        }
      }
    }
  }
}
