/* line 4, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
body.b2blogged .highlight-view {
  display: none;
}

/* line 10, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,e0e0e0+43,ffffff+81 */
  background: #f9f9f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 43%, #ffffff 81%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 43%, #ffffff 81%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 43%, #ffffff 81%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}

/* line 11, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .info-block {
  padding-top: 40px;
}

/* line 13, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .info-block .img {
  width: 80%;
  margin: 0 auto;
}

/* line 19, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .info-block .head h3 {
  font-size: 1.4em;
  font-weight: bold;
  color: #000000;
}

/* line 26, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .info-block .desc {
  color: #767676;
}

/* line 27, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .info-block .desc strong {
  color: #444444;
}

/* line 32, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module {
  margin-top: 40px;
}

/* line 34, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module h1 {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 40, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .formbox {
  background: #fff;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 25px -17px #000000;
  -moz-box-shadow: 0 10px 25px -17px #000000;
  box-shadow: 0 10px 25px -17px #000000;
  margin-bottom: 15px;
}

/* line 52, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .formbox .loginname input, .b2b-view.login-page .login-module .formbox .loginpw input {
  line-height: 40px;
  height: auto;
  font-size: 1.2em;
}

/* line 61, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .login-footer .auth-info {
  margin-top: 25px;
  font-size: 0.8em;
  color: #aaaaaa;
}

/* line 66, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .login-footer .auth-info .ico {
  float: left;
  margin: 0 10px 0 0;
}

/* line 69, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .login-footer .auth-info .ico i {
  color: #faab17;
  font-size: 70px;
  width: 70px;
  text-align: center;
}

/* line 78, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.login-page .login-module .login-footer .auth-info .text strong {
  color: #888888;
  line-height: 1.7;
  font-size: 1.2em;
}

/* line 98, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .b2busertop {
  border-bottom: 2px solid #cc2727;
  padding: 25px;
  background: #02536b;
}

/* line 103, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .b2busertop h1 {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: white;
}

/* line 109, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .b2busertop h1 strong {
  font-size: 14px;
  position: relative;
  margin-left: 25px;
  color: #0ac8ff;
}

/* line 115, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .b2busertop h1 strong:before {
  content: "";
  position: absolute;
  border-left: 1px solid #76e0ff;
  height: 40px;
  left: -16px;
  top: -15px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

/* line 131, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu {
  float: left;
  width: 15%;
}

/* line 137, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu ul li a {
  padding: 10px;
  margin: 10px 0;
  display: block;
  background: #f1f1f1;
  text-transform: uppercase;
  color: black;
  position: relative;
}

/* line 146, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu ul li a .onv {
  position: absolute;
  color: white;
  line-height: 20px;
  font-size: 0.8em;
  right: 8px;
  background: red;
  border-radius: 20px;
  width: 20px;
  pointer-events: none;
  z-index: 100;
  text-align: center;
}

/* line 160, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu ul li a i {
  width: 25px;
  text-align: center;
}

/* line 164, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu ul li a:hover {
  background: #eaeaea;
}

/* line 169, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .sidebarmenu ul li.on a {
  background: #0cbded;
  color: white;
}

/* line 177, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder {
  float: left;
  width: 85%;
}

/* line 180, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper {
  padding: 20px;
}

/* line 183, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper h1 {
  color: #8c8c8c;
  margin: 0 0 30px 0;
}

/* line 188, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-statuses {
  width: 55%;
  margin: 0 auto;
}

/* line 194, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .header {
  padding: 0 15px;
  font-size: 0.8em;
  color: #c1c1c1;
  text-transform: uppercase;
  line-height: 1;
}

/* line 202, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .header div[class*=col-] > div {
  padding: 8px;
  text-align: center;
}

/* line 208, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .main-ord-row {
  border: 1px solid #f1f1f1;
  padding: 15px;
  background: #fdfdfd;
  margin: 10px 0 0 0;
}

/* line 215, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row {
  display: none;
}

/* line 218, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist {
  border: 1px solid #f1f1f1;
  background: #f8f8f8;
  padding: 10px;
}

/* line 223, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .items {
  padding: 0 5px;
}

/* line 225, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .items .item {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #efeeee;
}

/* line 230, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .items .item .name {
  color: black;
  font-size: 1em;
}

/* line 235, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .items .item em {
  font-size: 0.8em;
  color: #888888;
}

/* line 239, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .items .item em strong {
  color: #555555;
  font-family: 'Arial';
}

/* line 247, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row .itemslist .extra-row {
  margin-top: 20px;
}

/* line 252, /Users/MolnarIstvan/Documents/Munka/Idea Fontana Kft/Git/arena/00526-2016/web/public/v1.0/styles/sass/b2b.scss */
.b2b-view.dashboard-page .fullwidth-container .b2b-content-holder .b2b-content-wrapper .order-table .info-row.opened {
  display: block;
}

/*# sourceMappingURL=../b2b.map */